In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [5]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [7]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [8]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [9]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [10]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [11]:
# preserve order
common_colums = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_colums.append(col)

In [13]:
from pyspark.sql import functions as F

In [14]:
# add new column name service type and give green as value
df_green_sel = df_green \
    .select(common_colums) \
    .withColumn('service_type', F.lit('green'))

In [15]:
df_yellow_sel = df_yellow \
    .select(common_colums) \
    .withColumn('service_type', F.lit('yellow'))

In [16]:
#combine 2 data
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [17]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [18]:
df_trips_data.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge',
 'service_type']

In [19]:
#register df to table which enable sql query table name is trips_data
df_trips_data.registerTempTable('trips_data')

C:\tools\spark-3.3.2-bin-hadoop3\python\pyspark\sql\dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [20]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY 
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [21]:
#try use query in module 4 here
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [22]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|          33|2020-02-01 00:00:00|       green|  143526.48999999915|              5734.75|                 4636.0|         17553.62999999993|          507.61000000000024|                    2979.900000000346|          180998.42999999292|                              6393.5|        1.2772073921971252|      3.2689649681528645|
|          39|2020-02-01 00:00:00|       green|   45098.69000000011|              3701.75|                  263.5|                     22.47|          1062.3999999999996|                   417.00000000001006|           50568.56000000017|                                2.75|        1.1235059760956174|       6.542627877237852|
|         155|2020-03-01 00:00:00|       green|   8962.960000000008|                 27.5|                   46.5|         6.779999999999999|          244.80000000000013|                    111.2999999999993|           9472.889999999994|                                 0.0|        1.2580645161290323|       6.667921052631582|
|          97|2020-03-01 00:00:00|       green|    86724.5699999999|               2432.5|                 3153.0|         9502.169999999995|          275.06000000000006|                     2095.79999999981|          105568.40000000683|                              1338.0|        1.1946930444339772|      2.7142550469149858|
|         206|2020-03-01 00:00:00|       green|  393.16999999999996|                  3.5|                    3.5|                      7.96|           72.46000000000001|                    3.599999999999999|           484.1900000000001|                                 0.0|        3.2857142857142856|       9.602500000000001|
|         135|2020-10-01 00:00:00|       green|   4685.669999999998|                 14.5|                   14.0|                    396.69|          210.88000000000005|                   48.299999999999976|                     5371.99|                                 5.5|        1.0263157894736843|       6.598271604938272|
|          53|2020-10-01 00:00:00|       green|             1129.98|                  1.0|                    2.5|                     85.15|                       24.48|                   10.499999999999996|          1253.6100000000001|                                 0.0|                       1.0|       7.953999999999998|
|         265|2020-02-01 00:00:00|       green|             12431.6|               359.09|                  118.0|        353.03000000000003|           461.3600000000002|                    98.69999999999942|          13827.279999999964|                                2.75|        1.5217391304347827|       8.645274725274726|
|         126|2020-02-01 00:00:00|       green|   7159.769999999995|                583.0|                   80.0|                     29.73|           234.4400000000001|                    97.49999999999943|           8191.340000000009|                                 0.0|        1.1764705882352942|       4.280221606648201|
|         131|2020-10-01 00:00:00|       green|   5536.840000000001|                  3.0|                    5.5|                     487.7|          146.52000000000004|                    57.59999999999994|           6241.859999999999|                                2.75|        1.0555555555555556|       6.149114583333333|
|         221|2020-01-01 00:00:00|       green|               382.5|                  1.0|                    3.0|                       0.0|           85.67999999999999|                                  2.1|                      474.28|                                 0.0|        1.2857142857142858|      12.874285714285715|
|         112|2020-02-01 00:00:00|       green|   21246.88000000001|              1030.51|                  681.0|         2607.840000000003|           347.5600000000002|                   435.60000000001077|           27034.68999999963|                               783.5|        1.2501786990707648|      3.4512254570074457|
|         160|2020-02-01 00:00:00|       green|  5285.6599999999935|               434.25|                   42.0|                     22.86|          136.93000000000004|                    63.59999999999975|           5985.300000000001|                                2.75|        1.2467532467532467|       4.088018018018017|
|         135|2020-03-01 00:00:00|       green|   4484.960000000002|                32.25|                   43.5|         92.17999999999998|          112.96000000000002|                     68.6999999999997|           4892.400000000009|                                8.25|        1.2345679012345678|      5.1851965065502155|
|          35|2020-01-01 00:00:00|       green|   51364.22999999995|              3498.25|                  422.0|                     33.81|          1007.9800000000002|                    538.5000000000097|           56871.42000000011|                                 5.5|        1.1042183622828785|       5.437524084778418|
|         175|2020-02-01 00:00:00|       green|  3626.6899999999937|               268.75|                   13.5|                      2.82|          122.40000000000003|                    34.20000000000003|          4068.3599999999997|                                 0.0|                       1.1|       6.121779661016945|
|          95|2020-03-01 00:00:00|       green|   75784.67000000001|              2378.75|                 2877.0|         6567.289999999992|           1171.179999999998|                    1875.599999999807|            91141.7900000062|                              450.75|        1.3517110266159695|      2.8941223193010326|
|          58|2020-03-01 00:00:00|       green|  380.40999999999997|                 3.75|                    4.0|                     10.86|                        6.12|                    5.699999999999998|                      410.84|                                 0.0|                       1.0|      6.1747826086956525|
|         162|2020-10-01 00:00:00|       green|   906.0500000000001|                  0.0|                    0.0|                      66.0|           51.25000000000001|                    7.499999999999998|          1030.8000000000002|                                null|                      null|                  8.7976|
|          76|2020-02-01 00:00:00|       green|  60807.779999999744|              5400.75|                  391.0|        198.00000000000006|          1409.0299999999943|                    666.8999999999902|           68901.86000000082|                                2.75|        1.2119565217391304|       5.530049792531122|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [28]:
# coalesce = reduce number of partition 1 = 1file
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')